=provide(:title, 'Home')

%section.default
  = render 'partials/content_header'
  .row.clearfix
    .four.columns.alpha.isotope
      .boxee{:data => {:cateogry => "delicious"}}
        %a.url.icon{:href => "https://delicious.com/wildcard1999", :accesskey => "D", :tabindex => "5", :title => "#{I18n.t 'click_to_view', what: 'Delicious'}"}
          %i.icon-delicious{:title => "Delicious icon"}

        .feed
          %h3{:class => 'delicious'}= "#{I18n.t 'recent.bookmarks', count: @page.get_by_type(:delicious).length}"
          %ul
            -@page.get_by_type(:delicious).each do |entry|
              %li{:class => entry.type}
                %a{:href=>entry.url}
                  =entry.content

    .six.columns.isotope
      .boxee{:data => {:cateogry => "wordpress"}}
        %a.url.icon{:href => "http://gregs.tcias.co.uk", :accesskey => "V", :tabindex => "3", :title => "#{I18n.t 'click_to_view_blog'}"}
          %i.icon-wordpress{:title => "Wordpress icon"}

        .feed
          %h3{:class => 'wordpress'}= "#{I18n.t 'recent.blog_posts', count: @page.get_by_type(:wordpress).length}"
          %ul
            -@page.get_by_type(:wordpress).each do |entry|
              %li{:class => 'wordpress'}
                %a{:href=>entry.url}
                  =entry.content

    .six.columns.omega.isotope
      .boxee{:data => {:cateogry => "vimeo"}}
        %a.url.icon{:href => "https://vimeo.com/user2724002/videos", :accesskey => "V", :tabindex => "3", :title => "#{I18n.t 'click_to_view', what: 'Vimeo'}"}
          %i.icon-vimeo-sign{:title => "Vimeo icon"}

        .feed
          %ul.images
            -@page.get_by_type(:vimeo).each do |entry|
              %li{:class => 'vimeo'}
                %div
                  %a{:href=>entry.url}
                    %img{:src=>entry.thumbnail, :title =>entry.content, :class=>"vimeo inset-shadow"}
                  %br
                  =entry.content

  .row.clearfix
    .six.columns.alpha.isotope
      .boxee.stacked{:data => {:cateogry => "twitter"}}
        %a.url.icon{:href => "https://twitter.com/_greg_stewart_", :accesskey => "T", :tabindex => "5", :title => "#{I18n.t 'click_to_view', what: 'Twitter'}"}
          %i.icon-twitter{:title => "Twitter icon"}

        .feed
          %h3{:class => 'twitter'}=I18n.t 'recent.tweets'
          %ul
            -@page.get_by_type(:twitter).each do |entry|
              %li{:class => 'twitter'}
                %a{:href=>entry.url}
                  =entry.content
                =" - #{I18n.l entry.date}"

      .boxee.stacked{:data => {:cateogry => "foursquare"}}
        %a.url.icon{:href => "https://foursquare.com/user/13278548", :accesskey => "F", :tabindex => "6", :title => "#{I18n.t 'click_to_view', what: 'Foursquare'}"}
          %i.icon-foursquare{:title => "Foursquare icon"}

        .feed
          %h3{:class => 'foursquare'}=I18n.t 'recent.foursquare_checkins'
          %ul
            -@page.get_by_type(:foursquare).each do |entry|
              %li{:class => 'foursquare'}
                .map{:data => {:lat => entry.location[:lat], :lon => entry.location[:lng]}}
                %a{:href=>entry.url}
                  =entry.content
                  =" - #{I18n.l entry.date}"

    .six.columns.isotope
      .boxee.stacked{:data => {:cateogry => "instagram"}}
        %a.url.icon{:href => "http://instagram.com/_greg_stewart_", :accesskey => "I", :tabindex => "5", :title => "#{I18n.t 'click_to_view', what: 'Instagram'}"}
          %i.icon-instagram{:title => "Instagram icon"}
        .feed
          %h3{:class => 'instagram'}= "#{I18n.t 'recent.instagram_images', count: @page.get_by_type(:instagram).length}"
          %ul.images
            -@page.get_by_type(:instagram).each do |entry|
              %li{:class => 'instagram'}
                %a{:href=>entry.url}
                  %img{:src=>entry.thumbnail, :title =>entry.content, :class=>"instagram"}

      .boxee.stacked{:data => {:cateogry => "lastfm"}}
        %a.url.icon{:href => "http://www.last.fm/user/greg_stewart", :accesskey => "I", :tabindex => "5", :title => "#{I18n.t 'click_to_view', what: 'Last.fm'}"}
          %i.icon-lastfm-sign{:title => "Last.fm icon"}

      .boxee.stacked{:data => {:cateogry => "flickr"}}
        %a.url.icon{:href => "http://www.flickr.com/photos/greg_and_jodie/", :accesskey => "F", :tabindex => "3", :title => "#{I18n.t 'click_to_view', what: 'Flickr'}"}
          %i.icon-flickr-sign{:title => "Flickr icon"}

    .four.columns.omega.isotope
      .boxee.stacked{:data => {:cateogry => "github"}}
        %a.url.icon{:href => "https://github.com/gregstewart", :accesskey => "G", :tabindex => "4", :title => "#{I18n.t 'click_to_view', what: 'Github'}"}
          %i.icon-github{:title => "Github icon"}

        .feed
          %ul
            -@page.get_by_type(:github).each do |entry|
              %li{:class => 'github'}
                %a{:href => entry.url}
                  =entry.content
                =" - #{I18n.l entry.date}"
      .boxee.stacked{:data => {:cateogry => "stackoverflow"}}
        %a.url.icon{:href => "http://stackoverflow.com/users/197825/greg-stewart", :accesskey => "D", :tabindex => "5", :title => "#{I18n.t 'click_to_view', what: 'StackOverflow'}"}
          %i.icon-stack-overflow{:title => "Stackoverflow icon"}

      .boxee.stacked{:data => {:cateogry => "google plus"}}
        %a.url.icon{:href => "https://plus.google.com/110643069434566075441", :accesskey => "I", :tabindex => "5", :title => "#{I18n.t 'click_to_view', what: 'Google+'}"}
          %i.icon-google-plus{:title => "Google+ icon"}
