= favicon_link_tag
/ to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp
%script{:type => "text/javascript"}
<!--[if lt IE 9]>
%script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
<![endif]-->
= stylesheet_link_tag 'd', :media => 'screen'
= stylesheet_link_tag 'd',  :media => 'print'
= stylesheet_link_tag 'orbit', :media => 'screen'
= stylesheet_link_tag 'reveal', :media => 'screen'
