!!! 5
%html
  %head
    %title= full_title(yield(:title))
    = render 'partials/meta'
    = csrf_meta_tag
    = stylesheet_link_tag    "application", :media => "all"
    %link{:rel=>"shortcut icon", :href=>"favicon.ico"}
%body
  = render 'partials/header'

  .container

    -#= render 'partials/breadcrumb'

    = yield

    -#= render 'partials/footer'
  = javascript_include_tag "application"
  = render 'partials/javascripts'