!!! 5
%html
  %head
    %title =:title
    = render 'partials/meta'
    = csrf_meta_tag
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

%body
  = render 'partials/header'

  = render 'partials/breadcrumb'

  = yield

  = render 'partials/footer'
  = render 'partials/javascripts'